<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section
        name="ActiveMQSection"
        type="NFramework.ActiveMQ.Configurations.ActiveMQSection, NFramework.ActiveMQ, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
        allowLocation="true"
        allowDefinition="Everywhere"
      />
  </configSections>
  <ActiveMQSection>
    <ActiveMQDBs>
      <ActiveMQDB DBName="db1" Url="activemq:tcp://localhost:61616/" UserName="" Password=""></ActiveMQDB>
    </ActiveMQDBs>
  </ActiveMQSection>
</configuration>